html,
body {
    margin: 0;
    height: 100%;
}

.page-hero {
    width: 100%;
    height: 75vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .9;
}

.page-sidekick {
    width: 100%;
    min-height: 300px;
    height: 50vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .9;
}

.page-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.page-center-contents {
    min-width: 50%;
}

.page-center-contents-quarter {
    min-width: 25%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

/* html, body{
  height: 100%;
  margin:0px;
  padding: 0px;
} */

#particles {
    background: #000;
    min-height: 100%;
}

.cup-card {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}

.cup-nav {
    z-index: 2;
}

.footer-bg {
    padding: 10px;
    opacity: .5;
}

.footer-text {
    opacity: .9;
}

.text-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 50vw;
}

.text-overflow-hidden-sm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 200px;
}

.mindcup-textarea {
    min-height: 200px;
    height: 200px;
    max-height: 440px;
}

.float-right {
    float: right;
}

/* dragon styles */

:root {
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
    --text-color: #34444f;
}

.draggable-list {
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0;
    list-style-type: none;
}

.draggable-list li {
    background-color: #fff;
    display: flex;
    flex: 1;
}

.draggable-list li:hover {
    background-color: #c3c7ca;
    display: flex;
    flex: 1;
}

.draggable-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

.draggable-list li.over .draggable {
    background-color: #eaeaea;
}

.draggable-list .person-name {
    margin: 0 20px 0 0;
}

.draggable-list li.right .person-name {
    color: #3ae374;
}

.draggable-list li.wrong .person-name {
    color: #ff3838;
}

.draggable {
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    padding: 15px;
    flex: 1;
}

.dragging {
    background-color: #c3c7ca;
    /* transition: background-color 2s; */
    transform: scale(1, 1);
    transition: .2s ease;
    padding: 10px;
    opacity: 1;
    margin: 10px 10px;
}